* {
    box-sizing: border-box;
}

div#First-section {
    padding: 200px 760px;
    border: 10px;
    margin: 0px;
    background-color: #1F2937;
    width: 760px;
    height: auto;
    color: white;
}
div#third-section {
    background-color: #e5e7eb;
    color: black;
    text-align: center;
    font-size: 36px;
}
div#third-section.signature {
    font-size: 24px;
    text-align: right;
}
div#fifthsection {
    background-color: #1F2937;
    color: white;
    padding: 40px 360px 40px 360px;
    border: 10px;
    margin: 0px;
}
div .p.fifthsection {
    justify-content: center;
    align-content: center;
}