* {
    box-sizing: border-box;
}
#First-section {
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-basis: 1080px;
    height: auto;
    flex-direction: row wrap;
}
div .headercontainer{
    display: flex;
    align-self: flex-start;
    height: 100px;
    padding: 30px;
    margin: 0px;
    flex: 1 1 1080px;
    justify-content: space-around;
    align-content: flex-start;
    font-size: 18px;
}
.headercontainer strong{
    padding-right: 300px;
    flex-basis: 300px;
    font-size: 24px;
}
p.htext{
    height: 20px;
}
#middlecontainer{
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-flow: row wrap;
    padding: 75px;
    flex: 1 1 100%;
    justify-content: space-around;
    
}
div.left { 
    flex-basis: 540px;
    justify-content: left;
    display: flex;
    flex-direction: column;
}    
h1{ 
    align-self: flex-start;
    max-height: 200px;
    font-size: 48px;
    color: #F9FAF8;   
}
button.first {
    align-self: center;
    flex: 0;
    border-radius: 25px;
    border: 2px solid blue;
    color: white;
    background: blue;
}
div.imageone {
    align-content: center;
    justify-content: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    text-align: center;
    flex-basis: 540px;
}
div#second-section{
    display: flex;
    background-color: white;
    flex-basis: 1080px;
    flex-flow: row wrap;
    justify-content: center;
}
h3{
    width: 1080px;
    text-align: center;
    height: 150px;
}
div.square.container{
    display: flex;
    flex-basis: 1080px;
    background-color: white;
    justify-content: space-evenly;

}
div.square.geo {
    flex-basis: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 25px;
}
div.text {
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    flex-basis: 1080px;
    margin-bottom: 50px;
}
p.square.text {
    margin: 0 30px;
    width: 80px;
    height: 50px;
}
div#third-section{
    display: flex;
    background-color: #e5e7eb;
    flex-basis: 1080px;
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    padding: 100px;
}
p.quote {
    flex-basis: 750px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}
p.signature {
    align-self: right;
    padding-left: 600px;
}
div#fourth-section {
    padding: 100px;
    display: flex;
    background-color: #FFF;
    justify-content: center;
    flex-flow: row wrap;

}
div#internalsquare {
    background-color: #3882f6;
    color: white;
    padding: 50px;  
}
div#thebutton { 
    background-color: #3882f6;
    padding: 50px;
    padding-top:100px;
    
}
button{
    color: white;
    border-radius: 25px;
    border: 2px white solid;
    background-color: #3882f6;
    padding: 10px
 
}
div#fifthsection{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: white;
    height: 100px;
    margin: 0px;
    border: 0px;
}